# Never commit our secrets files
*secrets.ini

# Default .gitignore with common Pythonic web ignores
venv
build/
dist/
*.pyc
__pycache__
*.egg
*.egg-info

# Logs
*.log

# Database dumbs
*.sql
*.sqlite

# If somebody does npm local installs
node_modules

# Created by running a celery
celerybeat*

.cache
.eggs
.tox

# geth test note created folders
chains
keystore

# splinter screenshots
websauna.wallet.tests.*