-e git+git@github.com:websauna/websauna.git@master#egg=websauna[test]
-e git+git@bitbucket.org:zzzeek/sqlalchemy.git@f61194cb865db8b29cc65e47782bb72e54b14ada#egg=SQLAlchemy
-e git+git@github.com:zopefoundation/zope.sqlalchemy.git@master#egg=zope.sqlalchemy
