-e git+https://github.com/websauna/websauna.git@master#egg=websauna[test]
sqlalchemy==1.1.0b3
ethereum-rpc-client==0.4.4
-e git+git@github.com:miohtama/web3.py.git@release-5#egg=web3


# https://github.com/ethereum/pyethereum/issues/421
-e git+git@git@github.com:miohtama/pyethereum.git@develop#egg=ethereum

