{# Template for home view #}

{% extends "site/base.html" %}

{% block description %}
<title>Digital assets in {{ network_desc.get_title() }} blockchain</title>
{% endblock %}

{% block content %}

  {% include "wallet/breadcrumbs.html" %}

  <h1>Digital assets in {{ network_desc.get_title() }} blockchain</h1>

  <p class="pull-right ">
    <a href="{{ network_desc.__parent__|model_url('all-assets') }}">View assets in all blockchains</a> |
    <span class="sorting text-muted">Sort: <strong><i class="fa fa-sort-alpha-asc"></i> Name</strong></span>
  </p>

  {% include "network/table_assets.html" %}

{% endblock %}
