{# Template for home view #}

{% extends "site/base.html" %}

{% block content %}

  {% include "wallet/breadcrumbs.html" %}

  <h1>{{ asset_desc.asset.name }}</h1>

  <table class="table">

    <tr>
      <th>Network</th>
      <td>{{ asset_desc.asset.network.name }}</td>
    </tr>

    <tr>
      <th>Symbol</th>
      <td>{{ asset_desc.asset.symbol }}</td>
    </tr>

    <tr>
      <th>Total distribution</th>
      <td>
        {% if asset_desc.asset.supply %}
          {{ asset_desc.asset.supply }}
        {% else %}
          Unknown
        {% endif %}
      </td>
    </tr>

    <tr>
      <th>Smart contract address</th>
      <td>{{ asset_desc.address }}</td>
    </tr>


  </table>
{% endblock %}
