{# Template for home view #}

{% extends "site/base.html" %}

{% block description %}
<title>About {{ network_desc.get_title() }} blockchain</title>
{% endblock %}

{% block content %}

  {% include "wallet/breadcrumbs.html" %}

  <div class="row">
    <div class="col-md-12">
      <h1>{{ network.name|capitalize }} blockchain</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">

      <table class="table">


        {% if status and status.data and status.data.heartbeat %}
          <tr>
            <th>Last update</th>
            <td>{{ timestamp|friendly_time(timezone='UTC') }}</td>
          </tr>

          <tr>
            <th>Current block number</th>
            <td>{{ status.data.heartbeat.block_number }}</td>
          </tr>

        {% endif %}

        <tr>
          <th>Listed assets</th>
          <td>
            <a href="{{ network_desc|model_url('assets') }}">
              <i class="fa fa-list"></i> View assets
            </a>
          </td>
        </tr>
      </table>
    </div>

    {% if network_desc %}
      <h2>About {{ network_desc.get_title() }}</h2>
      <div class="col-md-6">
        {{ network_text|safe }}
      </div>
    {% endif %}
  </div>


{% endblock %}
