
<table class="table table-listing table-assets">

  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Blockchain</th>
    </tr>
  </thead>

  <tbody>
    {% for asset_desc in assets %}
      <tr>
        <td>
          <a href="{{ asset_desc|model_url }}">
            {{ asset_desc.asset.name }} ({{ asset_desc.asset.symbol }})
          </a>
        </td>

      <td>
        {{ asset_desc.asset.description }}
      </td>

      <td>
        <a href="{{ asset_desc.network |model_url }}">
          {{ asset_desc.network.get_title() }}
        </a>
      </td>

    </tr>
  {% endfor %}
</tbody>
</table>
