<div class="table-responsive">
  <table class="table table-listing table-assets">

    <thead>
    <tr>
      <th>Name</th>
      <th>Symbol</th>
      <th>Description</th>
      <th>Blockchain</th>
    </tr>
    </thead>

    <tbody>
    {% for asset_desc in assets %}
      <tr>
        <td>
          <a href="{{ asset_desc|model_url }}">
            {{ asset_desc.asset.name }}
          </a>
        </td>

        <td>
          {{ asset_desc.asset.symbol }}
        </td>

        <td>
          {{ asset_desc.asset.description }}
        </td>

        <td>
          <a href="{{ asset_desc.network |model_url }}">
            {{ asset_desc.network.get_title() }}
          </a>
        </td>

      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>