<p>
  Testnet is an Ethereum test network, nicknamed Morden.
</p>

<p>
  Ethers (ETH) in testnet do not carry any value and it is easy to obtain any amount of them. Thus, testnet offers an inexpensive way for smart contract professionals and developers to try out their creations before taking them to production.
</p>

<p>
  Testnet is public.
</p>

<p>
  Because testnet ETH is free, testnet does not offer security guarantees for transactions. There are only few miners due to the lack of financial incentive. 
</p>

<p>More information</p>

<ul>
  <li><a href="http://ethdocs.org/en/latest/network/test-networks.html">Ethereum test networks</a></li>
  <li><a href="https://testnet.etherscan.io/">Testnet blockchain explorer</a></li>
</ul>