.col-op-notes {
    font-size: 80%;
    word-break: break-all;
}
.col-address {
    font-size: 80%;
    font-weight: bold;
}

.col-wallet-actions {
    width: 150px;
}

.panel-wallet-confirm {
    max-width: 600px;
    margin: 0 auto;
}

#transactions-pending tbody >   tr {
    background: #fff6d5;
}

.table-asset-data th {
    width: 200px;
}

/**
 * Accordion styling
 *
 * http://stackoverflow.com/a/18568997/315168
 */


.deform-collapse-heading > a {
    display: block; /* Make target area more touch friendly */
    text-decoration: none;
}


.deform-collapse-heading > a:after {
    /* symbol for "opening" panels */
    font-family: 'FontAwesome';  /* essential for enabling glyphicon */
    float: right;        /* adjust as needed */
    content: "\f054";    /* adjust as needed, taken from bootstrap.css */

}

.deform-collapse-heading > a[aria-expanded="true"]:after {
    /* symbol for "collapsed" panels */
    content: "\f078";
}