{%  extends "wallet/base.html" %}

{% block wallet_content %}

  <h1>{{ detail.name }}</h1>

  <table class="table">

    <tr>
      <th>Chain</th>
      <td>
        <a href="{{ detail.network_resource|model_url }}">
          {{ detail.network_resource.get_title() }}
        </a>
      </td>
    </tr>

    <tr>
      <th>Created at</th>
      <td>
        <div>
          {{ detail.op.created_at|arrow_format('YYYY-MM-DD HH:MM:ss') }}
        </div>
        <div>
          <small>{{ detail.op.created_at|friendly_time(timezone='UTC')}}</small>
        </div>
      </td>
    </tr>
  </table>
  
  <h2>Latest transactions</h2>
  
  {% with details=latest_ops %}
    {% include "wallet/table_operations.html" %}
  {% endwith %}
  
{% endblock %}