{%  extends "wallet/base.html" %}

{% block wallet_content %}

  <h3 id="heading-op">Transaction {{ detail.tx_name }}</h3>

  <table class="table">

    <tr>
      <th>Network</th>
      <td>
        <a href="{{ detail.network_resource|model_url }}">
          {{ detail.network_resource.get_title() }}
        </a>
      </td>
    </tr>

    <tr>
      <th>Transaction hash</th>
      <td>{{ detail.txid }}</td>
    </tr>

    <tr>
      <th>Account</th>
      <td>
        {% if detail.address_resource %}
          <a id="nav-op-address" href="{{ detail.address_resource|model_url }}">
            {{ detail.address_resource.get_title() }}
          </a>
        {% endif %}
      </td>
    </tr>

    <tr>
      <th>Type</th>
      <td>{{ detail.op.human_friendly_type }}</td>
    </tr>

    <tr>
      <th>State</th>
      <td id="op-state-{{ detail.op.state.name }}">{{ detail.state }}</td>
    </tr>


    {% if detail.op.asset %}
      <tr>
        <th>Asset</th>
        <td>
          <a href="{{ detail.asset_resource|model_url }}">
            {{ detail.asset_resource.asset.name }} ({{ detail.asset_resource.asset.symbol }})
          </a>
        </td>
      </tr>

      <tr>
        <th>Amount</th>
        <td>{{ detail.amount }}</td>
      </tr>

    {% endif %}

    {% if detail.confirmations %}
      <tr>
        <th>Confirmations</th>
        <td>
          {{ detail.confirmations }} / {{ detail.op.required_confirmation_count }}
        </td>
      </tr>
    {% endif %}

    <tr>
      <th>Created at</th>
      <td>
        <div>
          {{ detail.op.created_at|arrow_format('YYYY-MM-DD HH:MM:ss') }}
        </div>
        <div>
          <small>{{ detail.op.created_at|friendly_time(timezone='UTC')}}</small>
        </div>
      </td>
    </tr>

    {% if detail.op.has_txid() %}
      <tr>
        <th>Broadcasted at</th>
        <td>
          {% if detail.op.broadcasted_at %}
            <div>
              {{ detail.op.broadcasted_at|arrow_format('YYYY-MM-DD HH:MM:ss') }}
            </div>
            <div>
              <small>{{ detail.op.broadcasted_at|friendly_time(timezone='UTC')}}</small>
            </div>
          {% endif %}
        </td>
      </tr>
    {% endif %}

    <tr>
      <th>Completed at</th>
      <td>
        {% if detail.op.completed_at %}
          <div>
            {{ detail.op.completed_at|arrow_format('YYYY-MM-DD HH:MM:ss') }}
          </div>
          <div>
            <small>{{ detail.op.completed_at|friendly_time(timezone='UTC')}}</small>
          </div>
        {% endif %}
      </td>
    </tr>

  </table>


{% endblock %}