<table class="table table-listing table-operations">

  <thead>
    <tr>
      <th></th>
      <th>Started (UTC)</th>
      <th>Type</th>
      <th>Assets</th>
      <th>Amount</th>
      <th>Details</th>
      <th>Progress</th>
    </tr>
  </thead>

    <tbody>
      {% for detail in details %}
      <tr class="row-operation" id="row-operation-{{ detail.uuid }}">

        <td class="col-symbol">
          {% if detail.op.is_in_progress() %}
            <i class="fa fa-spinner fa-spin crypto-operation-in-progress"></i>
          {% elif detail.op.is_failed() %}
            <i class="fa fa-times crypto-operation-failed"></i>
          {% else %}
            <i class="fa fa-check crypto-operation-success"></i>
          {% endif %}
        </td>

        <td class="col-time">
            <div>
              <a href="{{ detail.resource|model_url }}">
                {{ detail.op.created_at|arrow_format('YYYY-MM-DD HH:MM:ss') }}
              </a>
            </div>
            <div>
              <a href="{{ detail.resource|model_url }}">
                <small>{{ detail.op.created_at|friendly_time(timezone='UTC')}}</small>
              </a>
            </div>

          </a>
        </td>

        <td>
          {{ detail.op.human_friendly_type }}
        </td>

        <td>
          {% if detail.asset_resource %}
            <a href="{{ detail.asset_resource|model_url }}">
              {{ detail.asset_resource.get_title() }}
            </a>
          {% endif %}
        </td>

        <td>
          {{ detail.amount }}
        </td>

        <td class="col-op-notes">
          {% if detail.notes %}
            {% if not detail.deposit_like %}
              {# Notes are useless for deposits #}
              <p>
                {{ detail.notes }}
              </p>
            {% endif %}
          {% endif %}

          {% if detail.address_resource %}
            <p>
              {% if detail.deposit_like %}
                To address:
              {% else %}
                {% if detail.op.operation_type.value == "create_address" %}
                  Address creation for account:
                {% else %}
                  From address:
                {% endif %}
              {% endif %}

              <a href="{{ detail.address_resource|model_url }}">
                {{ detail.address_resource.get_title() }}
              </a>
            </p>
          {% endif %}

          {% if detail.external_address %}
            <p>
             {% if detail.deposit_like %}
                From address:
              {% else %}
                {% if detail.op.operation_type.value == "create_address" %}
                  New address:
                {% else %}
                  To address:
                {% endif %}
              {% endif %}
              {{ detail.external_address  }}
            </p>
          {% endif %}
        </td>

        <td>
          {% if detail.manual_confirmation_needed %}
            <a href="{{ detail.resource|model_url("confirm-withdraw") }}">
              Verify withdraw
            </a>
          {% else %}
            {% if detail.confirmations is not none %}
              {{ detail.confirmations }} / {{ detail.op.required_confirmation_count }} block confirmations
            {% endif %}
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
