<table class="table table-listing">

  <thead>
    <tr>
      <th>Account name</th>
      <th>Blockchain</th>
      <th>Deposit address</th>
      <th class="col-wallet-actions">Actions</th>
    </tr>
  </thead>

  <tbody>
    {% for detail in details %}
      <tr id="row-address-{{ detail.id }}">
        <td>
          <a href="{{ detail.user_address|model_url }}">
            {{ detail.user_address.get_title() }}
          </a>
        </td>

        <td>
          <a href="{{ detail.network_resource|model_url }}">
            {{ detail.network_resource.get_title() }}
          </a>
        </td>

        <td class="col-address">
          {{ detail.address }}
        </td>

        <td class="col-wallet-actions">
          <a class="btn btn-sm btn-primary btn-block" href="{{ detail.user_address|model_url('deposit') }}">
            Deposit
          </a>
        </td>


      </tr>
    {% endfor %}
  </tbody>
</table>
