<table class="table table-listing table-operations">

  <thead>
    <tr>
      <th>Started (UTC)</th>
      <th>Type</th>
      <th>Assets</th>
      <th>Amount</th>
      <th>Address</th>
      <th>Confirmations</th>
    </tr>
  </thead>

  <tbody>
    {% for detail in details %}
      <tr>
        <td>
          <a href="#">
            {{ detail.op.created_at|friendly_time(timezone='UTC')}}
          </a>
        </td>

        <td>
          {{ detail.op.human_friendly_type }}
        </td>

        <td>
          {% if detail.asset_desc %}
            <a href="{{ detail.asset_desc|model_url }}">
              {{ detail.asset_desc.asset.name }} ({{ detail.asset_desc.asset.symbol }})
            </a>
          {% endif %}
        </td>

        <td>
          {{ detail.amount }}
        </td>

        <td>

        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
</div>