
<table class="table table-listing table-assets">

  <thead>
    <tr>
      <th>Name</th>
      <th>Amount</th>
      <th>Account</th>
      <th>Chain</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    {% for detail in details %}
      <tr>
        <td>
          <a href="{{ detail.asset_resource|model_url }}">
            {{ detail.asset_resource.asset.name }} ({{ detail.asset_resource.asset.symbol }})
          </a>
        </td>

      <td>
          {{ detail.balance }}
      </td>

      <td>
        <a href="{{ detail.address_resource|model_url }}">
          {{ detail.address_resource.get_title() }}
        </a>
      </td>

      <td>
        <a href="{{ detail.network_resource|model_url }}">
          {{ detail.network_resource.network.name }}
        </a>
      </td>

      <td>
        {% if detail.can_withdraw %}
          <a href="{{ detail.asset_resource|model_url('withdraw') }}">
            Withdraw
          </a>
        {% endif %}
      </td>
    </tr>
  {% endfor %}
</tbody>
</table>
