{%  extends "wallet/confirm_panel.html" %}

{% block panel_heading %}
<h1>
  <i class="fa fa-mail-forward"></i>
  Withdraw {{ asset_resource.asset.name }}
</h1>
{% endblock %}

{% block panel_content %}

  <p>
    Withdrawing asset
    <a href="{{ asset_resource|model_url}}">{{ asset_resource.get_title() }}</a>.
  </p>

  <p>
    <a href="{{ address_resource|model_url}}">{{ address_resource.get_title() }}</a> balance is <strong>{{ balance }}</strong>.
  </p>

  {{ rendered_form|safe }}

{% endblock %}